<html>

<head>
	<title>Party Playlist</title>
	<link rel="icon" href="favicon.gif" type="image/x-icon" />
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/common.js"></script>
	<link rel="stylesheet" type="text/css" href="css/common.css">

	<div class="vertical-center" id="page">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div id="imaginary_container">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control button-text" placeholder="Search... '!commands' for help" id="search-text-box">
							<span class="input-group-addon" id="search-button">
                                <button onclick="search()">
                                    <span class="glyphicon glyphicon-search"></span>
							</button>
							<button type="button" id="show-playlist-button" onclick="showMeWhatYouGot()">Show Queue</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1" id="search-results">
					<h2 class='text-center'>Try searching for something, or click Show Queue</h2>
				</div>
			</div>
		</div>
	</div>

</head>

</html>
