.stylish-input-group .input-group-addon {
	background: white !important;
}

@media all and (min-width: 960px) {
	p {
		font-size: 24px;
	}

	ol {
	    font-size: 24px;
	}

	h2 {
		font-size: 32px;
	}

	.button-text {
		font-size: 24px;
	}

	button {
		font-size: 24px;
	}
}

@media all and (max-width: 959px) and (min-width: 600px) {
	p {
    	font-size: 3vw;
	}

	ol {
	    font-size: 3vh;
	}

	h2 {
		font-size: 3.2vw;
	}

	.button-text {
		font-size: 2.2vh;
	}

	button {
		font-size: 2.1vh;
	}
}

@media all and (max-width: 599px) and (min-width: 50px) {
	p {
		font-size: 4vw;
	}

	ol {
	    font-size: 4vh;
	}

	h2 {
		font-size: 4.2vw;
	}

	.button-text {
		font-size: 3.2vh;
	}

	button {
		font-size: 3.1vh;
	}
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group {
	border: 0;
	background: transparent;
	font-size: 2.2vh;
}

.vertical-center {
	min-height: 100%;
	/* Fallback for browsers do NOT support vh unit */
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.add-button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 10px 15px 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}
/*** Table Styles **/

.table-fill {
	background: #444444;
	border-radius: 3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto;
	max-width: 600px;
	padding: 5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}

th {
	color: #D5DDE5;
	background: #1b1e24;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 28px;
	font-weight: 100;
	padding: 16px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align: middle;
}

th:first-child {
	border-top-left-radius: 3px;
}

th:last-child {
	border-top-right-radius: 3px;
	border-right: none;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;
	color: #000000;
	font-size: 28px;
	font-weight: normal;

}

tr:hover td {
	background: #4E5066;
	color: #FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

tr:first-child {
	border-top: none;
}

tr:last-child {
	border-bottom: none;
}

tr:nth-child(odd) td {
	background: #EBEBEB;
}

tr:nth-child(odd):hover td {
	background: #4E5066;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

td {
	background: #FFFFFF;
	padding: 8px;
	text-align: left;
	vertical-align: middle;
	font-weight: 200;
	font-size: 28px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
}

td:last-child {
	border-right: 0px;
}

th.text-left {
	text-align: left;
}

th.text-center {
	text-align: center;
}

th.text-right {
	text-align: right;
}

td.text-left {
	text-align: left;
}

td.text-center {
	text-align: center;
}

td.text-right {
	text-align: right;
}
